[user]
name = Andy Kosela
email = akosela@andykosela.com

[color "branch"]
current = normal
remote = normal
upstream = red

[color "diff"]
new = green
commit = normal

[color "status"]
added = green
changed = red
untracked = red
