[user]
name = Andy Kosela
email = akosela@andykosela.com

[color "branch"]
current = white bold
remote = cyan bold
upstream = red bold

[color "diff"]
old = normal
new = green bold
commit = white bold

[color "status"]
added = green bold
changed = red bold
untracked = red bold
