# for MacOSX to paste with cmd-v
xterm*vt100.translations: #override \
Meta <Key> C: select-cursor-start(PRIMARY, CUT_BUFFER0) \n\
Meta <Key> V: insert-selection(PRIMARY, CUT_BUFFER0) \n\
Shift <Key> Left: scroll-back(1,page) \n\
Shift <Key> Right: scroll-forw(1,page) \n\
<Key> Left: scroll-back(1) \n\
<Key> Right: scroll-forw(1) \n\

# fonts 
xterm*font: -misc-fixed-medium-r-semicondensed--13-120-75-75-c-60-iso10646-1
#xterm*font: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
#xterm*font: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso8859-1
##xterm*font: -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1

#xterm*vt100*geometry: 80x36
xterm*vt100*geometry: 80x30
xterm*loginShell: true
xterm*saveLines: 10000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false

# xterm colors
#xterm*foreground: rgb:00/00/00
#xterm*background: rgb:ff/ff/ff
#xterm*colorBD: rgb:00/00/00
#xterm*colorBD: blue

# acme colors
#xterm*foreground: rgb:00/00/00
#xterm*background: rgb:ff/ff/ea
#xterm*colorBD: rgb:00/00/00
#xterm*colorBD: rgb:00/00/a8

# amber monochrome colors
#xterm*foreground: rgb:ff/cc/00
#xterm*background: rgb:00/00/00
#xterm*colorBD: yellow

# green monochrome colors
#xterm*foreground: rgb:33/ff/33
#xterm*background: rgb:00/00/00
#xterm*colorBD: rgb:33/ff/33

# atari colors
#xterm*foreground: rgb:6b/a6/d6
#xterm*background: rgb:08/49/7b
#xterm*colorBD: white

# amigaos 2.0 colors
xterm*foreground: black
xterm*background: rgb:e0/e0/e0
xterm*colorBD: black

# zx spectrum colors
#xterm*foreground: black
#xterm*background: rgb:e0/e0/e0
#xterm*colorBD: black

# modern colors
#xterm*foreground: gray
#xterm*background: rgb:28/28/28
#xterm*colorBD: rgb:fc/fc/fc

# dos colors
#term*foreground: gray
#term*background: rgb:00/00/00
#term*colorBD: rgb:fc/fc/fc

# custom colors
#xterm*foreground: gray
#xterm*background: darkblue
#xterm*colorBD: white

xterm*color0: rgb:00/00/00
xterm*color1: rgb:a8/00/00
xterm*color2: rgb:00/a8/00
xterm*color3: rgb:a8/54/00
xterm*color4: rgb:00/00/a8
xterm*color5: rgb:a8/00/a8
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:a8/a8/a8
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:54/54/fc
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:fc/fc/fc

xterm*allowBoldFonts: false
xterm*boldMode: false
xterm*colorBDMode: true
